<div class="d-flex justify-content-between">
  <div class="card-team-player"> <!-- card for team 1 -->
    <div class="card-header">
      <%= image_tag "conejo.png", class: "team-pic" %>
      <h1 class="team-name">Team 1</h1>
    </div>
    <!-- loop over users of team 1 -->
    <div class="card-team">
      <% @game_users.each do |u| %>
        <% if u.game_team == @game.game_teams.first %>
          <li><%= u.user.name %></li>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-team-player"> <!-- card for team 2 -->
    <div class="card-header">
      <%= image_tag "perro.png", class: "team-pic" %>
      <h1 class="team-name">Team 2</h1>
    </div>
    <!-- loop over users of team 2 -->
    <div class="card-team">
    <% @game_users.each do |u| %>
      <% if u.game_team == @game.game_teams.second %>
        <li><%= u.user.name %></li>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<!-- READY BUTTON -->
<% if @game_user == 1 %>
  <div class="bottom-right">
    <%= link_to "Ready", game_path(@game.id), class: 'btn-bottom-right' %>
    <%= image_tag "", class: "fas fa-angle-double-right" %>
  </div>
<% end %>
