<!-- PAPELITOS LOGO -->
<%= image_tag "papelitos_logo.png", class: "index_logo" %>

<!-- BUTTONS  -->
  <%= simple_form_for @game do |f| %>

  <div align="center">
      <!-- Create button -->
      <%= f.submit "Create a game", class: "buttons" %>
  </div>
  <% end %>

  <div id="join-section" align="center">

  <!-- Join button -->
  <button class="buttons join-button" type="button">JOIN GAME</button>
    <div align="center" class="join-form hide-form">
      <%= form_tag game_users_path, method: :post do %>
        <%= number_field_tag :key_number, nil, max: 9999 %>
      <!-- Validate key + create user by join button -->
         <!-- Bottom right button  -->
        <div class="bottom-right">
          <%= submit_tag 'Next', class: "btn-bottom-right" %>
          <%= image_tag "", class: "fas fa-angle-double-right" %>
        </div>
      <% end %>
    </div>
  </div>
<!-- BUTTONS  -->
