<!-- SMALL PAPELITOS LOGO -->
<%= image_tag "papelitos_logo.png", class: "small_logo" %>

<span id="game-id" data-game-id="<%= @game.id %>"></span>





<p>Round: <span id="round-now"></span></p>
<p>Your team is playing: <span id="your-team-is-playing"></span></p>



<% if @game.game_users.first.user_id == current_user.id %>
  <p>Current Word: <span id="current-word"></span></p>
  <p>You are playing <span id="you-are-playing"></span></p>
  <%= simple_form_for @game.game_users.first.game_team do |f| %>
    <!-- score +1 button -->
    <%= f.submit "Got it! +1", class: "buttons join-button" %>
  <% end %>
<% else %>

  <p><span id="you-are-playing"> is playing</span></p>
  <p>Seconds left: <span id="seconds-left"></span></p>
  <h1><span class="js-timeout">60</span></h1>
  <p>Score team 1<span id="team-1-points"></span></p>
  <p>Score team 2<span id="team-2-points"></span></p>
  <%= audio_tag "buzzer.wav", class: "audio-play" %>
  <button class="buttons join-button audioButton" type="button" id="buzz_sound">Buzzer</button>
  <audio id="rock-on" src="buzzer.wav"></audio>
<% end %>


<!-- if @game.game_words.where(status.true).count == 0 -->
<!-- if current_user -->
<!-- if not current_user -->
<!-- if games.round > 3 -->

<!-- @game
@game.game-words
@game.game-word.where(status:false)
.where(status:true).count == 0
"".sample
-> def papelitos? end

Game-user = status (boolean)
-> meme principe que @game et connecter a @game pour permettre joueur de finir le round

DB
-> game-words (status -> boolean)
-> games (started(bool), finished(bool), round(enum)) -->
