
<span id="game-id" data-game-id="<%= @game.id %>"></span>

<!-- Span tags render json.html format game info -->
<p>Round: <span id="round-name"></span></p>
<p>Your team is playing: <span id="your-team-is-playing"></span></p>

<!-- content shows if current user play -->
<% if @game.game_users.first.user_id == current_user.id %>
  <p>Current Word: <span id="current-word"></span></p>
  <p>You are playing <span id="you-are-playing"></span></p>
  <%= simple_form_for @game.game_users.first.game_team do |f| %>
    <!-- score +1 button -->
    <div class= "round-countainer">
    <%= button_tag type: 'submit', class: "round-btn1" do %> <i class="fas fa-check"></i>
    <% end %>
    <%= button_tag type: 'submit', class: "round-btn2" do %> <i class="fas fa-times"></i>
    <% end %>
    </div>
  <% end %>
<% else %>
<!-- what every other players sees -->
  <p><span id="who-is-playing"></span> is playing</p>
  <!-- TIMER -->
  <p>Seconds left: <span id="seconds-left">---</span></p>
  <!-- <h1><span class="js-timeout">60</span></h1> -->

  <!-- sCORES for each team -->
  <p>Score team 1<span id="team-1-points"></span></p>
  <p>Score team 2<span id="team-2-points"></span></p>

  <!-- BUZZER -->
  <%= audio_tag "buzzer.wav", class: "audio-play" %>
  <button class="buttons join-button audioButton" type="button" id="buzz_sound">Buzzer</button>
  <audio id="rock-on" src="buzzer.wav"></audio>
<% end %>

<!-- jAVASCRIPT PACK TAGS -->
<%= javascript_pack_tag 'game_updates' %>
<%= javascript_pack_tag 'clock' %>
<%= javascript_pack_tag 'noizes' %>

<!-- if @game.game_words.where(status.true).count == 0 -->
<!-- if current_user -->
<!-- if not current_user -->
<!-- if games.round > 3 -->

<!-- @game
@game.game-words
@game.game-word.where(status:false)
.where(status:true).count == 0
"".sample
-> def papelitos? end

Game-user = status (boolean)
-> meme principe que @game et connecter a @game pour permettre joueur de finir le round

DB
-> game-words (status -> boolean)
-> games (started(bool), finished(bool), round(enum)) -->
