
<span id="game-state"
 data-game-id="<%= @game.id %>"
 data-game-team="<%= current_user.game_teams.last.id %>"
 data-game-words="<%= @game_words %>"
 data-game-users="<%= @game_users %>"
 ></span>

<!-- Span tags render json.html format game info -->
<p>Round: <span id="round-name"></span></p>
<p>Team playing: <span id="team-playing"></span></p>

<!-- content shows if current user play -->
<div id="active-player" style="display: <%= @playing_user == current_user ? "initial" : "none" %>;">
  <p>Current Word: <span id="current-word"></span></p>

  <button class="buttons join-button" id="increase-score">Got it! +1</button>
  <button class="buttons join-button" id="skip-button">Skip</button>
  <%# <button class="buttons join-button hide hide_button" id="change_user">Next Player</button> %>
</div>

<!-- what every other players sees -->
<div id="inactive-player" style="display: <%= @playing_user != current_user ? "initial" : "none" %>;">
  <p><span id="who-is-playing"></span> is playing</p>
  <!-- TIMER -->
  <h1><span id="seconds-left">60</span></h1>

  <!-- sCORES for each team -->
  <p>Score team 1: <span id="team-1-points"></span></p>
  <p>Score team 2: <span id="team-2-points"></span></p>

  <!-- BUZZER -->
  <%= audio_tag "buzzer.wav", class: "audio-play" %>
  <button class="buttons join-button audioButton" type="button" id="buzz_sound">Buzzer</button>
  <%# <audio id="rock-on" src="/buzzer.wav"></audio> %>
</div>



<!-- jAVASCRIPT PACK TAGS -->
<%= javascript_pack_tag 'game_updates' %>
<%= javascript_pack_tag 'clock' %>
<%= javascript_pack_tag 'noizes' %>

<!-- if @game.game_words.where(status.true).count == 0 -->
<!-- if current_user -->
<!-- if not current_user -->
<!-- if games.round > 3 -->

<!-- @game
@game.game-words
@game.game-word.where(status:false)
.where(status:true).count == 0
"".sample
-> def papelitos? end

Game-user = status (boolean)
-> meme principe que @game et connecter a @game pour permettre joueur de finir le round

DB
-> game-words (status -> boolean)
-> games (started(bool), finished(bool), round(enum)) -->
