<div id="game_key"><%= @game.key_number %></div>

<%= form_tag "/games", method: "post" do %>
  <input type="text" name="title" placeholder="Enter your word" />
<% end %>

<%= form_tag "/games", method: "post" do %>
  <input type="text" name="title" placeholder="Enter your word" />
<% end %>

<%= form_tag "/games", method: "post" do %>
  <input type="text" name="title" placeholder="Enter your word" />
<% end %>

<%= form_tag "/games", method: "post" do %>
  <input type="text" name="title" placeholder="Enter your word" />
<% end %>

<input type="submit" value="Submit" />  <!--  button submit -->
