
<div class="container">
  <div id="game_key"><%= @game.key_number %></div>

  <!-- Inputs for creating words -->
  <div class="input-container">
    <%= form_tag "/games", method: "post" do %>
      <input class="input-word" type="text" name="title" placeholder="Enter your word" />
    <% end %>

    <%= form_tag "/games", method: "post" do %>
      <input class="input-word" type="text" name="title" placeholder="Enter your word" />
    <% end %>

    <%= form_tag "/games", method: "post" do %>
      <input class="input-word" type="text" name="title" placeholder="Enter your word" />
    <% end %>

    <%= form_tag "/games", method: "post" do %>
      <input class="input-word" type="text" name="title" placeholder="Enter your word" />
    <% end %>
  </div>
</div>


<!--  button submit -->
<input type="submit" value="Submit" />
